<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>喵立翰</title>
	</head>
	<body>
		<%- include('./layout/header'); -%>
		<div class="px-5 pt-11 pb-10 bg-gradient-to-b from-secondary-200 to-secondary-100 overflow-hidden">
			<img src="../assets/images/slogan.png" alt="" class="mx-auto">
			<img src="../assets/images/img_man.png" alt="" class="scale-125 mt-7">
			<div class="swiper mySwiper">
				<div class="swiper-wrapper">
					<div class="swiper-slide">Slide 1</div>
					<div class="swiper-slide">Slide 2</div>
					<div class="swiper-slide">Slide 3</div>
				</div>
			  </div>
		</div>
		

		<%- include('./layout/footer'); -%>

		<script type="module" src="../main.js"></script>
	</body>
</html>
