<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;700;900&display=swap" rel="stylesheet">
		<title>喵立翰</title>
	</head>
	<body>
		<%- include('./layout/header'); -%>
		<div class="px-5 pt-11 pb-10 bg-gradient-to-b from-secondary-200 to-secondary-100 overflow-hidden relative">
			<div class="container">
				<div class="hidden xl:block absolute ">
					<img src="../assets/images/name.png" alt="" class="xl:w-[431px]">
					<img src="../assets/images/en-name.png" alt="" class="xl:w-[477px]">
				</div>
				<img src="../assets/images/slogan.png" alt="" class="mx-auto xl:absolute end-0 bottom-80 z-10">
				<img src="../assets/images/img_man.png" alt="" class="scale-150 lg:scale-100 mt-14">
				<div class="mySwiper relative bottom-10 lg:bottom-28 xl:bottom-172 xl:ml-204 overflow-hidden">
					<div class="swiper-wrapper">
						<div class="swiper-slide">
							<div class="bg-white w-[227px] md:w-[337px] mx-auto py-4 pe-4 ps-5.5 rounded-lg flex justify-between items-center">
								<div>
									<h2 class="text-s md:text-xl">為毛孩子謀福利！</h2>
									<p class="text-xs md:text-md">推動寵物醫療保障方案</p>
								</div>
								<a href="" class="rounded-full bg-secondary-900 w-10 h-10  flex justify-center items-center">
									<img src="../assets/images/Arrow.svg" alt="">
								</a>
							</div>
						</div>
						<div class="swiper-slide">
							<div class="bg-white w-[227px] md:w-[337px] mx-auto py-4 pe-4 ps-5.5 rounded-lg flex justify-between items-center">
								<div>
									<h2 class="text-s md:text-xl">打造休閒天堂！</h2>
									<p class="text-xs md:text-md">推廣寵物休閒與娛樂場所</p>
								</div>
								<a href="" class="rounded-full bg-secondary-900 w-10 h-10  flex justify-center items-center">
									<img src="../assets/images/Arrow.svg" alt="">
								</a>
							</div>
						</div>
						<div class="swiper-slide">
							<div class="bg-white w-[227px] md:w-[337px] mx-auto py-4 pe-4 ps-5.5 rounded-lg flex justify-between items-center">
								<div>
									<h2 class="text-s md:text-xl">讓愛更加專業！</h2>
									<p class="text-xs md:text-md">推廣寵物飼養教育</p>
								</div>
								<a href="" class="rounded-full bg-secondary-900 w-10 h-10  flex justify-center items-center">
									<img src="../assets/images/Arrow.svg" alt="">
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<%- include('./layout/footer'); -%>
		<script type="module" src="../main.js"></script>
	</body>
</html>
